################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDP-Git_Assigment_2/v16/Server/sqlite3/db.lock
/.vs/SDP-Git_Assigment_2/v16/Server/sqlite3/storage.ide-wal
/SDP-Git_Assigment_2/obj/project.assets.json
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.AssemblyInfo.cs
/SDP-Git_Assigment_2/obj/Release/netcoreapp2.1/SDP-Git_Assigment_2.AssemblyInfo.cs
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.AssemblyInfoInputs.cache
/.vs/SDP-Git_Assigment_2/v16/Server/sqlite3/storage.ide
/.vs/SDP-Git_Assigment_2/v16/Server/sqlite3/storage.ide-shm
/.vs/slnx.sqlite
/SDP-Git_Assigment_2/bin/Debug/netcoreapp2.1/SDP-Git_Assigment_2.runtimeconfig.json
/SDP-Git_Assigment_2/bin/Debug/netcoreapp2.1/SDP-Git_Assigment_2.runtimeconfig.dev.json
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.pdb
/SDP-Git_Assigment_2/obj/Release/netcoreapp2.1/SDP-Git_Assigment_2.AssemblyInfoInputs.cache
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.assets.cache
/SDP-Git_Assigment_2/bin/Debug/netcoreapp2.1/SDP-Git_Assigment_2.deps.json
/SDP-Git_Assigment_2/bin/Debug/netcoreapp2.1/SDP-Git_Assigment_2.dll
/SDP-Git_Assigment_2/bin/Debug/netcoreapp2.1/SDP-Git_Assigment_2.pdb
/SDP-Git_Assigment_2/obj/SDP-Git_Assigment_2.csproj.nuget.g.targets
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.csprojAssemblyReference.cache
/.vs/SoftwareDevelopmentProjects/v16/.suo
/.vs/SDP-Git_Assigment_2/v16/.suo
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.dll
/SDP-Git_Assigment_2/obj/SDP-Git_Assigment_2.csproj.nuget.g.props
/SDP-Git_Assigment_2/obj/SDP-Git_Assigment_2.csproj.nuget.dgspec.json
/SDP-Git_Assigment_2/obj/SDP-Git_Assigment_2.csproj.nuget.cache
/SDP-Git_Assigment_2/obj/Debug/netcoreapp2.1/SDP-Git_Assigment_2.csproj.FileListAbsolute.txt
